$gradient: linear-gradient(#f1e767, #feb645);
$culture: #9033A3;
$tech: #2DA0D8;

/* OPEN SANS COMPLETE */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/uYKcPVoh6c5R0NpdEY5A-Q.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxv25ds880Du_gFZbUlZlsbg.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/O4NhV7_qs9r9seTo7fnsVD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxpXMLUeV6_io0G3F6eXSVcg.woff) format('woff');
}

*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: auto;
	-moz-text-size-adjust: 100%;
	height: 100%;
	width: 100%;
	font: 300 normal 16px/1.2 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
	color: black;
	background: #333;
}

[disabled],
:disabled {
	cursor: default;
	opacity: 0.5;
}

a {
	text-decoration: none;
	color: #2A8FBD;
	cursor: pointer;
	cursor: alias;
	background: transparent;
	transition: all 300ms ease;

	&:focus {
		outline: thin dotted;
	}
	&:active,
	&:hover {
		outline: 0;
	}
	&:hover {
		color: #025D8C;
	}
	&:active {
		color: #FF0000;
	}
}

input,
select,
textarea {
	font: inherit;
	border: none;
	padding: 0.2rem 0.5rem;
}

button {
	font: inherit;
	cursor: pointer;
}

// ##############################################
// # PLACEHOLDERS & UTILITIES                   #
// ##############################################

%sanded {
	background: linear-gradient(#f1e767, #feb645);
	border: 3px ridge #feb645;
	border-radius: 5px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

%stitched {
	color: #f1c40f;
	text-shadow: -1px -1px #aa3030;
	background: #C0392B;
	border: 1px dashed #f1c40f;
	border-radius: 5px;
	box-shadow: 0 0 0 4px #C0392B, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

.flex-row {
	display: flex;
	flex-flow: row wrap;
}

.flex-form-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	> label {
		width: 150px;
	}
	> :nth-child(2) {
		flex-grow: 1;
		min-width: 150px;
	}
}

.flex-center {
	justify-content: center;
	align-items: center;
	align-content: center;
}

// ##############################################
// # MAIN SCREEN                                #
// ##############################################

#main-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	overflow: auto;
	color: #f1c40f;
	background: url("background.png") #C0392B;
	transition: all 1s ease;
}

.main-screen-page {
	display: inline-block;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;

	button {
		margin: 1rem 0.5rem;
		padding: 0.5rem;
		background: none;
		border: none;
		color: gold;

		&:hover,
		&:focus {
			background: gold;
			color: #C0392B;
		}
		&:active {
			box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2) inset, 0 12px 24px 6px rgba(0, 0, 0, 0.2) inset, 0 0 2px 2px rgba(0, 0, 0, 0.2) inset;
		}
	}

	select {
		background: url("background.png") #C0392B;
		border: 1px solid gold;
		font: inherit;
		color: gold;
	}
}

#main-screen-content-home {
	text-align: center;

	> img {
		margin-top: 2vh;
		margin-bottom: 2vh;
		max-width: 90%;
		max-height: 30vh;
	}

	button {
		width: 150px;
		height: 150px;
		border-radius: 100%;
		font-size: 3rem;

		> p {
			font-size: 1rem;
		}
	}
}

#app-version {
	position: absolute;
	top: 10px;
	right: 10px;
	color: rgba(255, 255, 255, 0.3);
}

#app-credits {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(255, 255, 255, 0.3);
}

// ##############################################
// # BODY                                       #
// ##############################################

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

// ##############################################
// # HEADER                                     #
// ##############################################

header {
	width: 100%;
	height: 35px;
	z-index: 1;
	background: #222;
	color: white;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	> * {
		margin: 0 0.2rem;
	}

	#header-turn-icon,
	#header-turn {
		color: whitesmoke;
	}

	#header-culture-icon,
	#header-culture {
		color: $culture;
	}

	#header-gold-icon,
	#header-gold {
		color: gold;
	}

	#header-trade-icon,
	#header-trade {
		color: orange;
	}

	#header-menu {
		flex-grow: 1;
		text-align: right;
		margin-right: 0.5rem;
	}
}

// ##############################################
// # SIDEBAR                                    #
// ##############################################

#sidebar {
	position: fixed;
	top: 40px;
	right: 0;
	@extend %stitched;
	border-right: none;
	border-radius: 5px 0 0 5px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	button {
		width: 72px;
		height: 72px;
		margin: 0.2rem;
		font-size: 2.25rem;
		cursor: pointer;
		background: none;
		border: none;
		color: inherit;
		text-shadow: inherit;

		&:hover,
		&:focus {
			background: #f1c40f;
			color: #C0392B;
		}
	}
}

// ##############################################
// # MENU                                       #
// ##############################################

#menu {
	padding: 5px;
	margin: 0;
	border-radius: 5px;
	border: 3px ridge #feb645;
	box-shadow: 0 2px 6px rgba(0,0,0,0.5);
	background: linear-gradient(#f1e767, #feb645);
	position: fixed;
	top: -100%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	min-width: 300px;
	max-width: 95%;
	height: auto;
	max-height: 95%;
	z-index: 3;
	transition: all 600ms ease;

	> img {
		padding: 5px;
		margin: 0;
		border-radius: 5px;
		border: 3px ridge #feb645;
		box-shadow: 0 2px 6px rgba(0,0,0,0.5);
		background: linear-gradient(#f1e767, #feb645);
		display: inline-block;
		height: 70px;
		padding: 3px;
		border-radius: 100%;
		border: 3px ridge #feb645;
		box-shadow: 0 2px 6px rgba(0,0,0,0.5);
		cursor: pointer;

		&:hover {
			background: linear-gradient(#feb645, #f1e767);
		}
	}
}

// ##############################################
// # INFO POPUP                                 #
// ##############################################

#popup {
	z-index: 1;
	position: fixed;
	left: 0.8rem;
	bottom: 0.8rem;
	padding: 0.5rem;
	@extend %stitched;
}

// ##############################################
// # DIALOG                                     #
// ##############################################

#dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	min-width: 300px;
	max-width: 95%;
	height: 50%;
	min-height: 300px;
	max-height: 95%;
	z-index: 2;
	padding: 10px 20px;
	margin: 10px;
	overflow: auto;
	resize: both;
	@extend %stitched;
}

#dialog-cities {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

#dialog-cities-list {
	width: 25%;
	min-width: 200px;
}

#dialog-cities-overview {}
