<?xml version="1.0" encoding="UTF-8"?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "it.venerons.civjs"
        version = "0.3.0"
        versionCode = "4">

    <name>CivJS</name>

    <description>
        A JavaScript game inspired by the Sid Meier's Civilization games
        More info at http://venerons.github.io/CivJS
    </description>

    <author href="http://venerons.github.io/" email="veneronslaboratories@gmail.com">
        Daniele Veneroni
    </author>
        
        
    <!-- ICONS -->
        
    <icon src="icon.png" /> <!-- default 72 pixels -->
        
    <icon src="images/icons/ios/icon.png" width="57" height="57" /> <!-- iPhone 3G, iPhone 3GS, iPod Touch 2G, 3G -->
    <icon src="images/icons/ios/icon72.png" gap:platform="ios" width="72" height="72" /> <!-- iPad, iPad 2, iPad mini -->
    <icon src="images/icons/ios/icon114.png" width="114" height="114" /> <!-- iPhone 4, iPhone 4S, iPod Touch 4G -->
    <icon src="images/icons/ios/icon144.png" width="144" height="144" /> <!-- iPad 3, iPad 4 -->
        
    <icon src="images/icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" /> <!-- 36 pixels -->
    <icon src="images/icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" /> <!-- 48 pixels -->
    <icon src="images/icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" /> <!-- 72 pixels -->
    <icon src="images/icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" /> <!-- 96 pixels -->
    <!-- <icon src="images/icons/android/xxhdpi.png" gap:platform="android" gap:density="xxhdpi" /> 144 pixels -->
        
    <icon src="images/icons/bb/icon.png" gap:platform="blackberry" /> <!-- 72 pixels -->
    <icon src="images/icons/bb/icon_hover.png" gap:platform="blackberry" gap:state="hover"/> <!-- 72 pixels -->
        
    <icon src="images/icons/winphone/icon.png" gap:platform="winphone" /> <!-- 57 pixels -->
    <icon src="images/icons/winphone/tileicon.png" gap:platform="winphone" gap:role="background" /> <!-- 72 pixels -->
        
    <icon src="images/icons/webos/icon.png" gap:platform="webos" /> <!-- 29 pixels -->
    <icon src="images/icons/webos/miniicon.png" gap:platform="webos" gap:role="mini" /> <!-- 15 pixels -->
        
    <!-- SPLASH SCREENS -->
        
    <gap:splash src="splash.png" /> <!-- default 320x480 pixels -->
        
    <gap:splash src="images/splash/ios/splash1024x768.png" width="1024" height="768" /> <!-- iPad 1, iPad 2, iPad mini -->
    <gap:splash src="images/splash/ios/splash768x1024.png" width="768" height="1024" /> <!-- iPad 1, iPad 2, iPad mini -->
    <gap:splash src="images/splash/ios/splash320x480.png" width="320" height="480" /> <!-- iPhone 3G, iPhone 3GS, iPod Touch 2, iPod Touch 3 -->
    <gap:splash src="images/splash/ios/splash640x960.png" width="640" height="960" /> <!-- iPhone 4, iPhone 4S, iPod Touch 4 -->
    <gap:splash src="images/splash/ios/splash640x1136.png" width="640" height="1136" /> <!-- iPhone 5, iPod Touch 5 -->
        
    <gap:splash src="images/splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" /> <!-- 200x320 -->
    <gap:splash src="images/splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" /> <!-- 320x480 -->
    <gap:splash src="images/splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" /> <!-- 480x800 -->
    <gap:splash src="images/splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" /> <!-- 720x1280 -->
        
    <gap:splash src="images/splash/bb/splash.png" gap:platform="blackberry" /> <!-- BlackBerry 250x250 -->
        
    <gap:splash src="images/splash/winphone/splash.jpg" gap:platform="winphone" /> <!-- Windows Phone 7 480x800 -->
        
    <gap:splash src="images/splash/webos/splash.png" gap:platform="webos" /> <!-- WebOS 64x64 -->
        
    <!-- GENERAL PREFERENCES -->
        
    <preference name="phonegap-version" value="2.7.0" /> <!-- versione di phonegap usata -->
    <preference name="orientation" value="default" /> <!-- entrambe supportate -->
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" /> <!-- toglie la barra in alto su iOS e Android -->
        
    <!-- iOS PREFERENCES -->
        
    <preference name="webviewbounce" value="false" /> <!-- effetto bounce quando si raggiunge la cima o il fondo della pagina -->
    <preference name="prerendered-icon" value="true" /> <!-- non applica effetto gloss all'icona -->
    <preference name="stay-in-webview" value="false" /> <!-- if set to true, all links (even with target set to blank) will open in the app's webview -->
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="exit-on-suspend" value="true" /> <!-- if set to false, app will continue to run on suspend -->
    <preference name="show-splash-screen-spinner" value="true" /> <!-- if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen" value="true" /> <!-- if set to false, the splash screen must be hidden using a JavaScript API -->
        
    <!-- ANDROID PREFERENCES -->
        
    <preference name="android-minSdkVersion" value="14" /> <!-- minimo Android 4.0 (si può scendere fino a 7/Android 2.1) -->
    <!-- <preference name="android-maxSdkVersion" value="17" /> massimo Android 4.2 -->
    <preference name="android-installLocation" value="auto" />
        
    <!-- BLACKBERRY PREFERENCES -->
        
    <preference name="disable-cursor" value="false" />
        
    <!-- PHONEGAP API FEATURES PREFERENCES -->
        
    <preference name="permissions" value="none"/>

</widget>
